<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Registro Cliente</h1>
<form action="#" th:action="@{/Clienteregister}" th:object="${cliente}" method="post">
  <p>Dni: <input type="text" th:field="*{dni}" /></p>
  <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
  <p>Apellidos: <input type="text" th:field="*{apellidos}" /></p>
  <p>Email: <input type="text" th:field="*{email}" /></p>
  <p>
    <input type="submit" value="Registrar Cliente" /> <input type="reset" value="Limpiar" />
  </p>
</form>
</body>
</html>