<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <script>
        function mostrarFormulario() {
            var tipoUsuario = document.getElementById("tipoUsuario").value;
            document.getElementById("formRestaurante").style.display = (tipoUsuario === "RESTAURANTE") ? "block" : "none";
        }
    </script>
</head>
<body>
<h1>Registro de Usuario</h1>
<label for="tipoUsuario">Elige el tipo de usuario:</label>
<select id="tipoUsuario" onchange="mostrarFormulario()">
    <option value="">--Seleccionar--</option>
    <option value="RESTAURANTE">Restaurante</option>
</select>

<div id="formRestaurante" style="display:none;">
    <h2>Registro de Restaurante</h2>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <form action="#" th:action="@{/registro/restaurante}" th:object="${restaurante}" method="post">
        <p>Nombre del Restaurante: <input type="text" th:field="*{nombre}" /></p>
        <p>CIF: <input type="text" th:field="*{cif}" /></p>
        <p>Dirección: <input type="text" th:field="*{direccion}" /></p>
        <p>
            <input type="submit" value="Registrar Restaurante">
            <input type="reset" value="Limpiar" />
        </p>
    </form>
</div>
</body>
</html>
